<nav class="navbar navbar-expand navbar-white bg-white border-bottom border-danger">
    <a href="index.php" class="navbar-brand"><img src="assets/img/pizza-logo.png" alt="" style="width: 40px"></a>
    <a class="nav-link btn btn-outline-danger" href="products.php">Products</a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-1">
            <a class="nav-link btn btn-outline-danger" href="control/user_logout.php">Logout</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link btn btn-outline-danger" href="cart.php"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link btn btn-outline-danger" href="settings.php"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>