<nav class="navbar navbar-expand navbar-white bg-white border-bottom border-danger">
    <a href="index.php" class="navbar-brand"><img src="assets/img/pizza-logo.png" alt="" style="width: 40px"></a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-1">
            <a class="nav-link btn btn-outline-danger" href="user/login.php">Login</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link btn btn-outline-danger" href="user/register.php">Register</a>
        </li>
    </ul>
</nav>